<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>6 mois de Backbone en 20 minutes</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Mathieu Magnin">
		<meta name="author" content="Simon Lehericey">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="lib/revealjs/css/reveal.min.css">
		<link rel="stylesheet" href="lib/revealjs/css/theme/night.css" id="theme">
		<link rel="stylesheet" href="lib/revealjs/css/zenburn.css">
		<link rel="stylesheet" href="intro/css/style.css" >



		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="lib/revealjs/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>6 mois de<br/>Backbone<br/>en 20 minutes</h1>
					<h3><span style="color: #DC4084">Paris.js</span> 28/11/12</h3>
					<p>
						<small><a href="">Simon Lehericey</a> && <a href="http://twitter.com/mmagn">Mathieu Magnin (@mmagn)</a></small>
					</p>
				</section>

				<section>
					<h2>Plan</h2>
					<ul>
						<li>Pourquoi Backbone ?</li>
						<li>Y'a quoi dedans ?</li>
						<li>180 jours plus tard.</li>
						<li>Alors, heureux ?</li>
					</ul>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Pourquoi Backbone ?</h2>
					</section>
					<section>
						<h3>Contexte</h3>
						<ul>
							<li>Refonte site internet</li>
							<li>4 devs (2 <a href="http://lgfrance.com">Legal & General</a> + 2 <a href="http://octo.com">Octo</a>)</li>
							<li>Agile, TDD</li>
							<li>Back: C#, MVC3</li>
							<li><span class="fragment fade-out">IE7+</span></li>
							<li class="fragment">IE8+</li>
						</ul>
					</section>
					<section>
						<h2>pourquoi pas Angular ?</h2>
						<ul>
							<li>Moins mature à l'époque (01/05/2012)</li>
							<li>req. IE8+</li>
							<li class="fragment"><em>Si c'était à refaire...</em></li>
						</ul>
					</section>
					<section>
							<h2><a target='_blank' href='http://elgeneralcms/'>DEMO</a></h2>
					</section>
				</section>

				<section>
					<section>
						<h2>Y'a quoi dedans Backbone?</h2>
						<ul>
							<li>
								Models et Collections: implementent le pattern observable
							</li>
							<li>
								View: possède son propre noeud, écoute sur les événements sur celui ci. 
							</li>
							<li>
								Router: écoute les changements d'url
							</li>
						</ul>
					</section>

					<section>
						<h2>on veut une demo !</h2>
						<style>
							#capitaine input{
								vertical-align: middle;
							}
						</style>
						<div style="width: 50%; ; float: left; ">
							<p style="text-align: left">&#60;div id="capitaine"&#62;</p>

							<div id="capitaine" style="height: 300px; border: 1px solid grey"></div>
							
							<p style="text-align: right">&#60;/div&#62;</p>
						</div>
						<div style="width: 50%; float: right; overflow: hidden;">
							<p style="text-align: right">Tests</p>
							<div id="capitaineRunner" style="height: 300px; border: 1px solid grey"></div>
						</div>
					</section>
				</section>

				<section>
					<section>
						<h2>180 jours plus tard...<br /> tu galères ?</h2>
					</section>
					<section>
						<h2>OUI</h2>
					</section>
					<section>
						<h2>En fait non ... :)</h2>
						<ul>
							<li class="fragment">parce qu'on a fait du TDD</li>
							<li class="fragment">du coup on a peu (pas?) de régression</li>
							<li class="fragment">mais l'archi est pas immédiate</li>
						</ul>
					</section>

					<section>
						<h2>Archi</h2>
						<div class="fragment">
							<p>Tests -> Découpe -> Injection</p>
						</div>
					</section>
					<section>
						<h2>
							Le routeur appelle une vue,
							<small style="vertical-align: baseline">qui contient une vue,
							<small style="vertical-align: baseline">qui contient une vue ...</small></small>
						</h2>
						<p><a target="_blank" href="archi.png">dessin tout moche</a></p>
						<p>
							On injecte depuis le haut de la pile les objets, collections, models, nécéssaires à toutes les vues
						</p>
						<p class="fragment">
							Chaque element peut donc être facilement mocké: tests plus précis
						</p>
						<p class="fragment"><a target="_blank" href="archi2.png"> autre dessin tout aussi moche</a></p>
					</section>
					<section>
						<h2>Et concrètement?</h2>
						<div>
							<p>module.js, le fichier de liaison de notre module</p>
							<pre>
								<code >
var options = {
    $container: $('#arbitrageContainer'),
};

options.templates = {
    $petitPoucetTemplate: $('#petitPoucetTemplate').html(),
    $ajouterSupportsTemplate: $('#ajouterSupportsTemplate').html()
    ...
};

options.models = {
    contrat: LG.arbitrage.contrat,
    repartitionActuelle: LG.arbitrage.repartitionActuelle
    ...
};

var arbitrageRouter = new LG.arbitrage.ArbitrageRouter(options);
								</code>
							</pre>
						</div>
					</section>
					<section>
						<h2>Au routeur de bosser</h2>
						<div >
							<pre>
								<code >
LG.arbitrage.ArbitrageRouter = Backbone.Router.extend({
    initialize: function (options) {
        this.options = options;
        this.initializeAllViews();
    },

    initializeAllViews: function () {
        this.petitPoucetView = new LG.arbitrage.PetitPoucetView({
            template: this.options.templates.$petitPoucetTemplate,
        });
        this.desinvestissementView = new LG.arbitrage.DesinvestissementView({
            templates: this.options.templates,
            models: options.models,
            popoverAvance: this.options.popoverAvance
        });
	...
});
								</code>
							</pre>
						</div>
					</section>
				</section>

				<section>
					<section><h2>Alors, Heureux ?</h2></section>
					<section data-state="alert">
						<h2>Tout n'est pas rose</h2>
						<ul>
							<li class="fragment">pas d'injection de dépendances</li>
							<li class="fragment">pas de double binding automatique</li>
							<li class="fragment">trop de liberté ? C'est en faisant n'importe quoi...</li>
						</ul>
					</section>
					<section>
						<p>...qu'on fait n'importe quoi</p>
						<p class="fragment">Petite revue de ce qu'il ne faut pas faire.</p>
					</section>
					
					<section>
						<h2>1) Ne touche pas à mon &#60;body&#62;</h2>
						<p>Malheureux...</p>
						<pre><code >
render: function() {
	$('.contrat.montant').html(this.model.get('montant'));
}
						</code></pre>
					<p class="fragment">intestable -> poubelle</p>
					<p class="fragment">ça t'évitera le prochain bug</p>
					</section>

					<section>

						<h2>2) Les models <span style="color:#04B404">zombies</span></h2>
						<p>exemple simple</p>
						<p>une listView</p>
						<p>une detailView</p>
						<pre  class="fragment"><code >
...							
events: {
	"click": "open"
},

open: function(){
	var detailView = new DocDetailsView({model: this.model, el: $('#zombieDetails')});
	detailView.render()
	...
						</code></pre>
					</section>

					<section>

						<h2>WAT</span></h2>
						
						<div id="zombiesList" style="float:left; width: 50%">
						</div>						
						<div id="zombieDetails" style="float:left; width: 50%"></div>
					</section>
					<section>
						<h2>Regardons ce bug au ralenti</h2>
						<p>Initialisation de la vue, son <span>el</span> fourni est un élément du &#60;body&#62;</p>
						<p>La view écoute les événements sur l'input avec la fonction <a href="http://api.jquery.com/delegate/">$.delegate</a></p>
						<pre><code>
delegateEvents: function(events) {
  ...
  this.$el.delegate(selector, eventName, method);
},
						</code></pre>

						<p class="fragment"><em>jQuery doc: Attach a handler to one or more events for all elements that match the selector, <strong>now or in the future</strong>, based on a specific set of root elements.</em></p>
					</section>
					<section>
						<h2>Solution : ne touche vraiment pas à mon &#60;body&#62;</h2>
						<pre><code>
var detailView = new App.Views.DocumentDetailsView({model: this.model});
$('#zombieDetails').html(detailView.render().el);
						</code></pre>
					</section>
					
					<section>
						<h2>3) <%= les templates %></h2>
						<p>Les balises <% et %> permettent d'éxecuter du js</p>
						<p class="fragment">Il n'y a pas pire que de debugguer un template</p>
						<div class="fragment">
						<p>Solution : déporter la "complexité" dans les views ou models</p>
						<pre><code >
LG.Models.SupportRepartition = Backbone.Model.extend({
    ...
    montantAffiche: function () {
        return Globalize.format(this.get('montant'), "n2", LG.culture);
    },
    ...
});
						</code></pre></div>
					</section>
					
					<section>
						<h2>4) Négliger la liaison back/front</h2>
						<p>Ne pas oublier de tester le matching back/front des propriétés des models</p>
						<div class="fragment">
						<pre>
							<code >
SupportRepartitionJSON supportRepartition = new SupportRepartitionJSON();

Assert.IsNotNull(supportRepartition.GetType().GetProperty("id"));
Assert.IsNotNull(supportRepartition.GetType().GetProperty("nom"));
							</code>
						</pre>
						<p>Permet de s'assurer de la correspondance des nom de propriétés</p>
						<p>Crucial pour éviter un refacto dévastateur d'un collègue</p></div>
					</section>
				</section>

				<style>
					#TakeAway strong{
						color: green;
						font-size: 1.5em;
					}
				</style>
				<section id='TakeAway'>
					<h1>Take Away</h1>
					<ul>
						<li>Je <strong>teste</strong>, sinon je suis mort sur le long terme.</li>
						<li>Donc je <strong>découple</strong> mes views de mes templates/DOM</li>
						<li>Je fais attention a mes <strong>el</strong></li>
						<li><strong>Je blinde</strong> mon binding avec le Back</li>
					</ul>
				</section>

				<section>
					<h1>En savoir plus :</h1>
					<p><a href="http://dailyjs.com/2012/11/22/backbone-updates/">http://dailyjs.com/2012/11/22/backbone-updates/</a></p>
					<p><a href="http://pivotal.github.com/jasmine/">http://pivotal.github.com/jasmine/</a></p>
				</section>

				<section>
					<h1>Des questions ?</h1>
					<h3>Et sinon merci <span style="color: #DC4084">Paris.js</span></h3>
					<p>
						<small><a href="">Simon Lehericey</a> && <a href="http://twitter.com/mmagn">Mathieu Magnin (@mmagn)</a></small>
					</p>
				</section>

			</div>

		</div>

		<!--<script src="lib/js/head.min.js"></script>-->
		<script src="lib/revealjs/js/reveal.min.js"></script>
		<script src="lib/revealjs/js/head.min.js"></script>


		<script src="lib/jquery-1.8.3.js"></script>
		<script src="lib/underscore.js"></script>
		<script src="lib/backbone.js"></script>
		<script src="lib/revealjs/js/reveal.min.js"></script>


		<script src="intro/sources.js"></script>
		<script src="intro/awesomeCapitaineLook.js"></script>

		<!-- Zombies sources -->
		<script src="ghostviews/models.js"></script>
		<script src="ghostviews/views.js"></script>
		<script src="ghostviews/app.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
				/*	{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },*/
					{ src: 'lib/revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } } /*,
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }*/
				]
			});

		</script>

		 <!-- Jasmine -->
  		<link rel="stylesheet" type="text/css" href="lib/jasmine-1.2.0/jasmine.css" />
  		<script type="text/javascript" src="lib/jasmine-1.2.0/jasmine.js"></script>
  		<script type="text/javascript" src="lib/jasmine-1.2.0/jasmine-html.js"></script>
  		<script type="text/javascript" src="intro/spec/etape1Spec.js"></script>
		<script type="text/javascript">
      (function () {
          var jasmineEnv = jasmine.getEnv();
          jasmineEnv.updateInterval = 1000;

          var htmlReporter = new jasmine.HtmlReporter(null, $('#capitaineRunner'));

          jasmineEnv.addReporter(htmlReporter);

          jasmineEnv.specFilter = function (spec) {
              return htmlReporter.specFilter(spec);
          };

          var currentWindowOnload = window.onload;

          window.onload = function () {
              if (currentWindowOnload) {
                  currentWindowOnload();
              }
              execJasmine();
          };
          function execJasmine() {
              jasmineEnv.execute();
          }

      })();
  </script>

	</body>
</html>