<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>6 mois de Backbone en 20 minutes</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Mathieu Magnin">
		<meta name="author" content="Simon Lehericey">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="lib/revealjs/css/reveal.min.css">
		<link rel="stylesheet" href="lib/revealjs/css/theme/night.css" id="theme">
		<link rel="stylesheet" href="lib/revealjs/css/zenburn.css">
		<link rel="stylesheet" href="intro/css/style.css" >



		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="lib/revealjs/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>6 mois de Backbone en 20 minutes</h1>
					<h3><span style="color: #DC4084">Paris.js</span> 28/11/12</h3>
					<p>
						<small><a href="">Simon Lehericey</a> && <a href="http://twitter.com/mmagn">Mathieu Magnin (@mmagn)</a></small>
					</p>
				</section>

				<section>
					<h2>Plan</h2>
					<ul>
						<li class="fragment">Backbone ?</li>
						<li class="fragment">POC</li>
						<li class="fragment">Archi</li>
						<li class="fragment">Limites</li>
					</ul>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Backbone ?</h2>
						<p>
							<a target='_blank' href='http://elgeneralcms/'>demo</a>	
						</p>
					</section>
					<section>
						<h3>Contexte</h3>
						<ul>
							<li class="fragment">Refonte site internet</li>
							<li class="fragment">Agile</li>
							<li class="fragment">Back: C#, MVC3</li>
							<li class="fragment"><span class="fragment fade-out">IE7+</span></li>
							<li class="fragment">IE8+</li>
						</ul>
					</section>
					<section>
						<h3>Demandes</h3>
						<ul>
							<li class="fragment">UI réactive</li>
							<li class="fragment">Trop de logique client</li>
							<li class="fragment">...</li>
						</ul>
					</section>
					<section>
						<h2>vs Angular</h2>
						<ul>
							<li class="fragment">Approche différente</li>
							<li class="fragment">Moins mature à l'époque</li>
							<li class="fragment">req. IE8+</li>
							<li class="fragment"><em>Si c'était à refaire...</em></li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>POC</h2>
						<p>
							Backbone pour les nuls: des models et des vues.
						</p>
					</section>
					<section>
						<h2></h2>
						<p>
							CapitaineCapitaineCapitaineCapitaine
						</p>
					</section>
					<section>
						<h2>Capitaine</h2>
						<p>
							<label for="ageDuCapitaine">Quel est l'âge du capitaine ?</label>
							<input id="ageDuCapitaine"/>
						</p>
						<div id="demoCapitaine" style='margin:auto'>
						</div>
					</section>
				</section>

				<section>
					<section>
						<h2>6 mois après, ça marche encore ?</h2>
					</section>
					<section>
						<p data-state="alert" style="color:white;">
							NON
						</p>
					</section>
					<section>
						<h2>En fait si... :)</h2>
						<ul>
							<li class="fragment">TDD</li>
							<li class="fragment">refacto, refacto, refacto...</li>
							<li class="fragment">peu (pas?) de régression</li>
						</ul>
					</section>

					<section>
						<h2>Archi TDD Based</h2>
						<p>
							Injection !
						</p>
						<pre><code contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) ) {
        node.className += ' roll';
      }
    };
  }
}
					</code></pre>
					</section>
				</section>

				<section>
					<section data-state="alert">
						<h2>Limites</h2>
						<ul>
							<li class="fragment">pas d'IOC (dependency injection)</li>
							<li class="fragment">pas de factorisation entre les routes</li>
							<li class="fragment">pas de double binding automatique</li>
							<li class="fragment">trop de liberté ? C'est en faisant n'importe quoi...</li>
						</ul>
					</section>
					<section>
						<p>...qu'on fait n'importe quoi</p>
					</section>
					<section>
						<h2><%= les templates %></h2>
						<p>Les balises <% et %> permettent d'éxecuter du js</p>
						<p class="fragment">Il n'y a pas pire que de debugguer un template</p>
						<p class="fragment">Pas facile à tester</p>
						<p class="fragment">La solution: déporter la complexité dans les views ou models</p>
					</section>
					<section>
						<h2>Les models <span style="color:#04B404">zombies</span></h2>
						
						<div id="zombiesList" style="float:left; width: 50%">
						</div>						
						<div id="zombieDetails" style="float:left; width: 50%"></div>
					</section>
					<section>
						<h2>Késkispass</h2>
						<p>Lors de la construction de la vue Details, Backbone bind l'event 
							<em>change</em> sur l'élément <em>input</em> contenu dans son <em>el</em>
							(http://backbonejs.org/#View-delegateEvents)</p>
						<pre class="fragment"><code contenteditable>
$('#zombieDetails').delegate('input', 'change', callbackQuiModifieLeModel);
					</code></pre>
					<p class="fragment"><em>#zombieDetails</em> n'est jamais détruit, les events ne sont jamais debindé ->
						à chaque <em>change</em>, avalanche de callbacks</p>
					</section>
				</section>

				<section>
					<h3>Merci <span style="color: #DC4084">Paris.js</span></h3>
					<p>
						<small><a href="">Simon Lehericey</a> && <a href="http://twitter.com/mmagn">Mathieu Magnin (@mmagn)</a></small>
					</p>
				</section>

			</div>

		</div>

		<!--<script src="lib/js/head.min.js"></script>-->
		<script src="lib/revealjs/js/reveal.min.js"></script>
		<script src="lib/revealjs/js/head.min.js"></script>


		<script src="lib/jquery-1.8.3.js"></script>
		<script src="lib/underscore.js"></script>
		<script src="lib/backbone.js"></script>
		<script src="lib/revealjs/js/reveal.min.js"></script>

		<!-- Intro sources -->
		<script src="intro/sources.js"></script>
		<script src="intro/awesomeCapitaineLook.js"></script>

		<!-- Zombies sources -->
		<script src="ghostviews/models.js"></script>
		<script src="ghostviews/views.js"></script>
		<script src="ghostviews/app.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
				/*	{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },*/
					{ src: 'lib/revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } } /*,
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }*/
				]
			});

		</script>

	</body>
</html>